#sectionheader {
    background-color: blue;
    color: white;
    padding: 5px;
}

#accordion {
    width: 400px;
    background-color: yellow;
    margin: auto;
}

#section {
    padding: 5px;
    height: 150px;
	overflow: hidden;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
}